body {
    margin: 0;
    overflow: hidden;
  }
  
  .door-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .door {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    cursor: pointer;
    
  }

  .wrapper{
    perspective: 1000px;
  }
  
  .door-1 {
    left: 0;
    background: url('../images/door1.jpg') right center no-repeat;
    background-size: cover;
    transition: transform 2s;
    transform-origin: left;
  }
  
  .door-2 {
    right: 0;
    background: url('../images/door2.jpg') left center no-repeat;
    background-size: cover;
    transition: transform 2s;
    transform-origin: right;
  }
  
  /* .door.open {
    transform: scaleX(0);
  } */
  
  .knob {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 10vw; /* Adjust for mobile */
    height: 5vh; /* Adjust for mobile */
    background-color: gold;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    /* Mobile styles */
    .door {
      width: 50vw;
    }
  
    .knob {
      width: 8vw;
      height: 4vh;
    }
  }
  

  .wrapper.transformed #door-1{
    transform: rotateY(-130deg);
  }

  .wrapper.transformed #door-2{
    transform: rotateY(130deg);
  }